<footer role="contentinfo">
	<div class="container">	
		<div class="logo-nqts pull-left">
			<img src="/assets/img/nqts-logo.png" alt="Núcleo de Qualidade e Teste de Software">
		</div>	
		<div class="logo-senai pull-right">
			<a href="http://portais.fieb.org.br/senai/servicos/#!/servico/pesquisa-e-desenvolvimento-de-solucoes-em-software"><img src="/assets/img/logo_senai.png" alt="SENAI Bahia"></a>
		</div>
	</div>	
</footer>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="/assets/js/main.js"></script>
