.header-site{
    min-height: 20vh;
    .content{   
        width: 90%;
        .logo{
            width: 280px;
            top: 10px;
            left: 130px;                 
             img{
                max-width: 260px;
                float: left;    
            }           
        }
        .search-form{
            float: right;
            top:35px;
            right: 140px;
            .search-field{
                width: 250px;
                padding: 10px;
                .border-radius;
                .border-color;
            }
        }
    }
}