
.header-site{
    min-height: 8rem;
    border-bottom: 1px solid #eee;
    .logo{
        top: 5px;
            left: 15%;
            width: 80%;
            height: auto;
        img{
            max-width: 30%;
            height: auto;
        }
    }
}


.search-form{
    float: right;
    right: 4%;
    .search-field{
        width: 100%;
        padding: 10px;
        .border-radius;
        .border-color;
    }
}