.header-post{	
	background: #01619e;
	padding-bottom: 40px;	
	text-align: center;	
	top: -20px;
	h1{
		top: 50px;
		color: #FFF;
		font-size: 3.897rem;
	}
	.name{
		a{ color:#FFF; 	}
	}

	.post{
		width: 100%;
		font-size: 20pt;
		.post-content {
			background: none repeat scroll 0% 0% #EEE;
			width: 100%;
			margin-top: 50px;	
		}
	}
}


.author{
	margin-top: 100px;	
	.details{		
		.img-rounded{
			.border-radius;
				width: 160px;
			.name{

			}
		}
	}
}
