.header-post{	
	background: #01619e;
	padding-bottom: 180px;
	color: #fff;
	text-align: center;	
	top: -20px;
	h1{
		top: 60px;
		color: #FFF;
		font-size: 4.897rem;
	}

}

.post{
	width: 100%;
	font-size: 20pt;
}
.post-content {
	background: #eee;
	width: 100%;
	top: -20px;
	
}

