html{
	padding: 0;
	margin:0;	
}

*{position: relative;}

//header
.header-site{
	width: 100%;
	padding: 25px;

	.content{	
	border: 1px solid: #000;	
		margin:0 auto;		
		width: 95%;
		padding: 0px;		
		height: 100px;		
		.logo{
			width: 280px;
			top: -15px;
			left: 80px;					
			 img{
				max-width: 280px;
				float: left;	
			}			
		}
		.search{
			float: right;
			top:15px;
			right: 180px;												
			.text-search{
				padding: 5px;
				border-radius: 20px;
				-moz-border-radius: 20px;
				-webkit-border-radius: 20px;
				border: 2px solid #478fca;	
			}
		}
	}
}

//menu

.menu-outer{
	width: 75%;
	left: 110px;		
	display: table;
	top:10px;
	ul{		
		line-height: 50px;
		margin:auto;
		li{			
			display: inline;
			list-style:none;
			text-decoration: none;
			border-radius: 10px;
			-moz-border-radius: 10px;
			-webkit-border-radius: 10px;
			border: 1px solid #02639D;
			padding: 10px;
			text-align: center;							

			a{
				text-decoration: none;
				color:#478fca;
				&:hover{
					font-weight: 300;
					color:#02639D;	

				}
			}			
		}
	}
}


//post

.posts{
	position: relative;
	border: 1px solid;
	width: 100px;
	padding: 100px;	
}

//footer
footer{
	background: #4790ca;
	padding: 10px;
}