.menu-outer{
	width: 70%;
	left: 100px;			
	margin: 25px;
	ul{		
		li{						
			display: inline;
			list-style:none;
			text-decoration: none;
			.border-radius(10px);
			.border-color;
			padding: 10px;			
		}
	}
}