//post
section{	  	    	 
	.row {
	  margin-left: -15px;
	  margin-right: -15px;
	  	&:after {
  			clear: both;
  		}
		&:after, :before{
  			content: " ";
  			display: table;
		}
	}

    .posts {
        width: 80%;
		margin: 0 auto;
		left: 30px;	

		a {
			text-decoration: none;
			color: #4790ca;
			font-size: 25px;		
		}

		.col {	
		 
			    width: 20%;      	
			 	padding-left: 10px;
			  	padding-right: 10px;  	
			  	float: left;
			  	.border-color;
			  	border-top: 5px solid #01629c;
			  	margin:10px;
		  	
			  	.titulo-post{
			  		padding-bottom: 40px;  		
			  	}
		  	
			  	h3{
			  		color:#4790ca;
			  	}
		  	
			  	footer{
			  		background: #FFF;
			  		a{
			  			font-size: 15px;
			  		}  		
			  	}

				.categoria{        	
					min-height: 50px;			
		        	h4{ 
		        		width: 35%;  
		        		padding: 5px; 
						.border-radius(15px);
						.border-color;				
			            text-align: left;	            	            
			            text-transform: uppercase;
			            font-size: 8px;					

		        	}						
				} 		 
		 }	                   		
	} 
	
	.author-post{	
			border-top:1px solid #eee;	
			min-width: 200px;
		.photo{	
			top:5px;
			
			img{							
				width: 40px;
				height: 40px;				
				.border-radius;
			}			
			span{	
				top: -35px;							
				left: 50px;
			}		
		}
	}           
}