.main{
	margin: 0px 5%;
}	
	.post-list {	
	    width:  320px;
	    padding: 25px;
		margin-top: 20px;		
	    padding-bottom: 60px;	    
	    cursor: pointer;
		.box-shadow;
		&:hover{
			.box-shadow-hover;
			.transform;
	    	opacity: 0.85;        
		}		
		
		&:nth-child(odd) {
			 background: #FFF; 
			span, p{ color:#00619f;} 
			 .day, .month, .year{color:#000; }
		}
		
		&:nth-child(even) { 
			background: #00619f; 
			span, p{ color: #FFF; } 
			.day, .month, .year{color:#FFF; text-weight:100;}
		}

		.post-link {
			 .post-category {    
				.border-color;
			    .border-radius(10px);
			    float: left;
			    padding: 5px 10px;
			    margin:30px 0px 15px 0px;
			}
			
			 .post-title {
			    clear: both;  
			    font-size: 3.2rem;
			    font-weight: 300;
			    margin: 20px 0;    
			    text-align: left;
			}
		}


		a:hover{text-decoration: none;}
		.author-post{	
			margin-top: 80px;
			font-size: 2em;
			img{			
				float: left;
				.photo;
				.border-radius;
			}
			span{			
				left: 15px;			
			}
		}

	}



//------ Artigos
.post-content{	
	font-size: 1.65rem;
	max-width: 80%;
	margin-right: auto;
	margin-left: auto;
	font-weight: 300;
	line-height: 2.8rem;
	letter-spacing: .01rem;	
	p{
		.webkit-margin;
		img{
			max-width: 100%;
			margin: 1.875rem auto;
			display: block;
		}
	}
}



//-----media querys
/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 680px) {	
	.main{
		margin: 0;
		right: 8px;
	}
	.item{ 
		width: 95%;

	}

}


/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {		
	.item{ width: 45%; 	}
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}
