.share{
	width: auto;
	max-width: 800px;
	float: none;
	display: block;
	margin-right: auto;
	margin-left: auto;
	padding-left: 0;
	padding-right: 0;
	text-align: center;
	padding-top: .25rem;

	svg{
		margin: .9375rem;
		width: 35px;
		height: 35px;
		fill: currentColor;
		color: #4790ca;
		&:hover{
			color:#01639d;
		}
	}	

	a{text-decoration: none;}
}
